<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <p>Geef de titel in aub.</p>
      <input v-model="titel" />
      <p>Geef de prijs in aub.</p>
      <input v-model="prijs" />
      <p>Geef het aantal stuks in aub.</p>
      <input v-model="stuks" />

      <p>
        Voor {{stuks}} stuk(s) van het boek {{titel}}, tegen een kostprijs van
        {{prijs}}, betaal je {{prijs * stuks}}€.
      </p>
    </div>
    <script>
      const app = {
        data() {
          return {
            titel: "",
            prijs: "",
            stuks: "",
          };
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
